.App {
  text-align: center;
}

body {
  background-color: #0083BB;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background: #212529;
}

body::-webkit-scrollbar-thumb {
  background: #049bdc;
  border-radius: 10px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* Login/Register CSS */
.form-signin {
  background-color: white;
  border-radius: 7%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  transform: translate(-50%, -50%);
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.approved {
  background-color: #198753;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  padding: 8px 14px;
  text-decoration: none;
}

.rejected {
  background-color: #DC3545;
  border-radius: 10px;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 1em;
  padding: 8px 14px;
  text-decoration: none;
}

.pending {
  background-color: #FFC108;
  border-radius: 10px;
  display: inline-block;
  color: #000000;
  font-family: Arial;
  font-size: 1em;
  padding: 8px 14px;
  text-decoration: none;
}

.selector {
  padding: 6px 20px;
  border-radius: 5px;
  border: gray solid 1px;
  font-size: 1.2em;
}